html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.monacofx-editor {
    height: 100%;
    width: 100%;
    position: absolute;
}